*{
	font-family: 'Open Sans', sans-serif;
    
}

@keyframes nihello {
    0% {opacity: 0;}
    15% {opacity:1;}
    100% {opacity: 0;}

}
@keyframes helloni {
    0% {opacity: 1;}
    15% {opacity:0;}
    100% {opacity: 1;}
}


body { 	width:100%; 
	margin-top: -13px;
	margin-left: 0; 
    height: 100%;
    overflow-x:hidden; 

	}

#top {width:100%; margin-top: -13px;height: 5px;}




.titlelink {
    text-decoration: none;
    color: black;
}

.title {
    margin: -11px auto;
    height:75px;
    width: 850px; 
    backdrop-filter: blur(10px);
}

.logo {
    width: 80px;
    margin-left: 10px;
    margin-top: 20px;
}

.logotype {
    display: inline-block;
    font-weight: 400;
    margin-top: 24px;
    margin-left: 2%;
    vertical-align: top;
    letter-spacing: 3.5px;
    line-height: 150%;
    font-size: 14px;
}

.csatype {
    display: inline-block;
    font-weight: 400;
    margin-top: 24px;
    margin-left: 2%;
    vertical-align: top;
    letter-spacing: 3.5px;
    line-height: 150%;
    font-size: 14px;
}

.typeformtitle {
    font-weight: 300;
}

.content {
    width: 850px;
    margin: 0 auto;
     overflow-x:hidden; 
}

#nihao {
    position: absolute;
   margin: 0 autol
    animation: nihello ease-in-out 10s infinite 5s;
   max-width: 850px;


}

#hello {
   position: absolute;
    margin: 0 auto;
   opacity: 0;
   animation: helloni ease-in-out 10s infinite 5s;
   z-index: -1;
   max-width: 850px;
}

.greet {
    position: relative;
    height: 12%;
}

.recruit {
    position: relative;
    max-width: 850px;
    top:500px;
    z-index: -1;
}

/*
.registerTitle{
    position: fixed;
    top:50px;
    left: 150px;
    background-color: rgba(255, 255, 255, 0.4);
   backdrop-filter: blur(5px);
   width:100px;
   height:100px;
   z-index: 1;
}
*/
@media screen and (max-width: 768px) {
.title {
	margin: -12px auto;
	height: 50px;
	width: 100%;
 background: #eeeeee;
 backdrop-filter: blur(10px);
 z-index: 5px;



}

.logo {
	width: 50px;
	margin-left: 5%;
	margin-top: 20px;
}

.logotype {
    display: inline-block;
    width: 130px;
    font-weight: 400;
    margin-top: 19px;
    margin-left: 10px;
    vertical-align: top;
    letter-spacing: 2px;
    line-height: 10px;
    font-size: 9.2px;
}

.csatype {
    display: inline-block;
    width: 130px;
    font-weight: 400;
    margin-top: 19px;
    margin-left: 1%;
    vertical-align: top;
    letter-spacing: 2px;
    line-height: 10px;
    font-size: 9.2px;
}

.register{
    margin-top: 12px;
}

#nihao {
   position: absolute;
  width: 50%;
  min-width: 313px;
  animation: nihello ease-in-out 10s infinite 5s;
}
 #hello {
   position: absolute;
   width: 50%;
    opacity: 0;
    min-width: 313px;
     animation: helloni ease-in-out 10s infinite 5s;
}

.content {
    width: 100%;
    margin: 0 auto;
     overflow-x:hidden; 
}

.greet {
    position: relative;
    height: 4%;
    left: 5%;
    z-index: -1;
}
.recruit {
    position: relative;
    width: 100%;
    right: 0;
    top: 150px;
    z-index: -1;
}
}
